/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
$main-color: rgba(19, 165, 255, 0.721);
$main-color2: rgb(0, 95, 154);
$shadow-color:  rgba(46, 46, 46, 0.721);
$orange: #FF5719;
 @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700');
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
   @import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');
   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family:'Titillium Web';
    box-sizing:border-box;
}
#myChartEnd {
    margin-top:10%;
}

.buttons-box {
    button {
        background-color:transparent;
        border:2px solid $main-color;
        padding:10px 30px;
        color:$main-color;
        font-weight:600;
        margin-top:10px;
        margin:5px;
        transition:0.3s ease-in;
        box-shadow: 3px -3px $main-color,
        2px -2px $main-color,
        1px -1px $main-color;
        border: 1px solid $main-color;
    }
    button:hover {
        background-color:$main-color;
        color:black;
    }
    margin:0 auto;
    width:100%;
    text-align:center;
}
    body {
        font-family:'Titillium Web';
        background-color:black !important;
        height:100%;
    }
    a:-webkit-any-link {
        text-decoration: none;
    }
    .text-percent {
        color:$main-color;
        font-size:4em;
    }
    #nav-side {
        a {
            padding:0px;
            padding-right:20px;
            text-decoration: none;
            color:$main-color;
        }
        li {
            a {
                color:$main-color;
            }
            padding-right:10px;
            padding:0px;
        }
        list-style-type:none;
        right:-180px;
        background-color:black;
        padding:10px;
        display:flex;
        flex-direction: row;
        transform:rotate(270deg);
        justify-content: flex-end;
        top:50%;
        position:fixed;
    }

    .wrapper {
        color:white;
        z-index:999999999999999;
        position:absolute;
    }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
















 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.first-div-info, .first-div-info2 {
    height:100vh;
    width:100%;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%234799f9' fill-opacity='0.1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.people-using-vr-rooms {
    padding-top:100px !important;
    padding-bottom:100px;
     height:100vh;
     width:100%;
     background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%234799f9' fill-opacity='0.1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
}
.overlay-div {
    height:100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.4) 55%, rgba(0,0,0,0.7) 80.00%, rgba(0,0,0,1) 100.00%);
}
.overlay-div-people-vr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) -7%, rgba(0, 0, 0, 0.2) 10.00%, rgba(0, 0, 0, 1) 100.00%);
}
.overlay-div2 {
    height:100%;
    background-color:black;
    // background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 50.00%, rgba(0,0,0,1) 100.00%);
}
.div-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

#img-logo {
    width:150px;
    margin-bottom:20px;
}
#vr-left {
    height:400px;
}
#vr-right {
    height:400px;
}
.left {
    display:flex;
    justify-content: center;
    align-content:center;
}
.right {
       display:flex;
       justify-content: center;
       align-content:center;
}
// .overlay {
//     width:60%;
//     height:100%;
//     margin:0 auto;
//     background-image:url('../img/abstract.jpeg');
//     background-size:cover;
//     -webkit-mask-box-image: url(../img/glasses2.svg);
// }
.glasses-2 {
    // fill:white;
     -webkit-mask-box-image: url(../img/glasses.svg);
     fill:white;
     background-color:blue;
}

.first-div-box {
    img {
        width:200px;
    }
    height:100%;
    display:flex;
    justify-content: flex-start;
    padding-left:10%;
    align-items:center;
    background-color:rgba(0,0,0,0);
}

.first-div-box2 {
    img {
        width:200px;
    }
    height:100%;
    background-color:rgba(0,0,0,0);
}

.vr-stat-number {
    font-weight:900;
    font-size:40px;
}


.vr-send {
    background-color:transparent;
    border:2px solid $main-color;
    padding:10px 30px;
    color:$main-color;
    font-weight:600;
    margin-top:10px;
    transition:0.3s ease-in;
    box-shadow: 
    6px -6px $main-color,
    5px -5px $main-color,
    4px -4px $main-color,
    3px -3px $main-color,
    2px -2px $main-color,
    1px -1px $main-color;
    border: 1px solid $main-color;
}
canvas canvas {
        box-shadow: 3px -3px $main-color,
        2px -2px $main-color,
        1px -1px $main-color;
        border: 1px solid $main-color;
}
.vr-send:hover {
    color:black;
    background-color:$main-color;
}
.stat-box {
    margin-top:50px;
    position:absolute;
    width:100%;
    margin:0 auto;
}
.stat-box2 {
    margin-top:50px;
    width:100%;
    margin:0 auto;
}
#num-count {
     text-align:center; 
     font-size:80px;
     color:$main-color;
}

path {
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}


.coolShadow {
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $shadow-color;
    text-shadow:
        1px -1px 0 $shadow-color,
        2px -2px 0 $shadow-color,
        3px -3px 0 $shadow-color,
        4px -4px 0 $shadow-color,
}

.st0-1 {
    fill:white;

}


        #svg-headset {
            position: absolute;
            right: 0;
            top:17%;
            height: 100vh;
            margin: auto;
            display: block;
            path {
                fill: none;
                stroke: $main-color;
                stroke-width: 1;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-miterlimit: 10;

                &.st1 {
                    stroke-width: 2;
                }
            }
        }

        #text-100000 {
            width: 400px;
            display: block;
            margin: 0 auto;
             display: block;
             path {
                 fill: none;
                 stroke: $main-color;
                 stroke-width: 5;
                 stroke-linecap: round;
                 stroke-linejoin: round;
                 stroke-miterlimit: 10;

                 &.st1 {
                     stroke-width: 2;
                 }
             }
         }


.nav-top {
    background-color:transparent;
    color:white;
    z-index:9999;
}
#svg-new-zealand {
    position: absolute;
    height: 60vh;
    display: block;
    z-index:-1;
    right:10%;
    opacity:1;
    path {
        fill: none;
        stroke: $main-color;
        stroke-width: 1;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        &.st1 {
            stroke-width: 1;
        }
    }
}
.count {
    display: block;
    margin-bottom: 10px;
    font-size: 56px;
    color: #f2f2f2;
    padding: 100px;
    font-weight: 600;
    width: 120px;
}

#stLiberty {
    position: absolute;
    height: 50vh;
    opacity:1;
    display: block;
    left:10%;
    margin-bottom:20px;
    z-index:-1;
    path {
        fill: none;
        stroke: $main-color;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        &.st1 {
            stroke-width: 1;
        }
    }
}
#whiteHouse {
        max-width:100%;
    position: absolute;
    display:none;
    opacity:1;
    height: 36vh;
    display: block;
    right:8%;
    z-index:-1;
    path {
        fill: none;
        stroke: $main-color;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        &.st1 {
            stroke-width: 1;
        }
    }
}
#svg-australia {
    max-width:100%;
    position: absolute;
    opacity:1;
    height: 500px;
    display: block;
    display:none;
    z-index:-1;
    left:0;
    path {
        fill: none;
        stroke: $main-color;
        stroke-width: 1;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        &.st1 {
            stroke-width: 2;
        }
    }
}

#svg-europe {
        max-width:100%;
    left:3%;
    position: absolute;
    opacity:1;
    height: 500px;
    display: block;
    z-index:-1;
    path {
        fill: none;
        stroke: $main-color;
        stroke-width: 1;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        &.st1 {
            stroke-width: 2;
        }
    }
}
#ar, #ar2, #ar3, #ar4 {
      opacity:1;
      height: 300px;
      display: block;
      z-index:-1;
      margin:0 auto;

      path {
          fill: none;
          stroke: $main-color;
          stroke-width: 1;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10;

          &.st1 {
              stroke-width: 2;
          }
      }
}
#svg-europe-flag {
    position: absolute;
    opacity:1;
    height: 50vh;
    display: block;
    right:10%;
    z-index:-1;
    path {
        fill: none;
        stroke: $main-color;
        stroke-width: 1;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        &.st1 {
            stroke-width: 1;
        }
    }
}
button:active {
    outline: none;
    border: none;
    }
.active {
    background-color:$main-color !important;
    color:black !important;
}
button:focus {outline:0 !important;}

.container-flash {
    height:100vh;
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%234799f9' fill-opacity='0.05' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
}
.overlay-div-flash {
    height:100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2) 40.00%, rgba(0,0,0,0) 100.00%);
}

#nav-link-1, #nav-link-2, #nav-link-3, #nav-link-4 {
    transition:0.3s ease;
}

#desc {
  padding:40px;
}
.number {
    font-family:'Titillium Web';
    color:$main-color;
  display:block;
  font-size:2rem;
  line-height:6.5rem;
  * + * {
    margin-top:0;
  }
}
.digit-con {
  display:inline-block;
  height:6.5rem;
  overflow:hidden;
  vertical-align:top;
  span {
    display:block;
    font-size:3em;
    line-height:6.5rem;
    position:relative;
    text-align:center;
    top:0;					
    width:0.55em;
  }
}


.underline {
    position: relative;
    margin: 3px;
    padding-bottom:20px;
    &:after {
        content: '';
        position: absolute;
        left: 40%;
        bottom: -7px;
        height: 5px;
        background-color: #fff;
        width: 20%;
        transition: width .25s;
    }
}
.underline2 {
    position: relative;
    margin: 3px;
    padding-bottom:20px;
    margin-bottom:20px;
    &:after {
        content: '';
        position: absolute;
        left: 45%;
        bottom: -7px;
        height: 5px;
        background-color: #fff;
        width: 10%;
        transition: width .25s;
    }
}



/**
 * Define variables
 */
/**
 * Style default tags
 */

html, body {
  height: 100%;
  width:100%;
  min-width:100%;
  font-size: 14px;
  text-align: center;
}
.canvas-box {
    width:40%;
    margin:0 auto;
}

.inliner,
.inliner + .inlined {
  display: inline-block;
  vertical-align: middle;
  position:fixed;
  width:50%;
  top:0;
  left:23%;
}



*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
    width:100%;        
    min-width:100%;
    display:block;
}

/**
 * Utility styles
 */

.inliner,
.inliner + .inlined {
  display: inline-block;
  vertical-align: middle;
}
body::before {
    content:"";
    position:fixed;
    width:100%;
    height:80px;
    background-color:black;
    top:0;
    z-index:2;
}

.inlined {
  width: 90%;
  opacity:0.7;
  z-index:3;
}

/**
 * Component styles
 */
.progress-meter {
  padding: 40px;
}

.progress-meter {
  counter-reset: point;
}
.progress-meter .progress-point:before {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  -moz-box-shadow: 0 0 0 2px black;
  -webkit-box-shadow: 0 0 0 2px black;
  box-shadow: 0 0 0 2px black;
  content: "\2713";
  display: block;
  width: 24px;
  margin: 0 auto 12px;
  border: 1px solid #aaaaaa;
  text-align: center;
  background-color:white;
  color: white;
}
.progress-meter .track {
  position: relative;
  height: 4px;
  background: $main-color;
}
.progress-meter .progress {
  -moz-transition: width 1s;
  -o-transition: width 1s;
  -webkit-transition: width 1s;
  transition: width 1s;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 4px;
  background: $main-color;
}
.progress-meter .progress-points {
  position: relative;
  margin: -14px 0 0;
  padding: 0;
  list-style: none;
}
.progress-meter .progress-points .progress-point:nth-child(1) {
  left: 0%;
}
.progress-meter .progress-points .progress-point:nth-child(2) {
  left: 25%;
}
.progress-meter .progress-points .progress-point:nth-child(3) {
  left: 50%;
}
.progress-meter .progress-points .progress-point:nth-child(4) {
  left: 75%;
}
.progress-meter .progress-points .progress-point:nth-child(5) {
  left: 100%;
}
.progress-meter .progress-point {
  -moz-transition: color 1s;
  -o-transition: color 1s;
  -webkit-transition: color 1s;
  transition: color 1s;
  position: absolute;
  display: block;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  cursor: pointer;
  color: $main-color;
}
.progress-meter .progress-point.completed, .progress-meter .progress-point.active {
  color: $main-color;
}
.progress-meter .progress-point.completed:before {
  border-color: $main-color2;
  background-color: $main-color2;
}
.progress-meter .progress-point.active:before {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  border-color: #777;
}
.progress-meter .progress-point .label:before {
  counter-increment: point;
  content: counter(point) ". ";
  /* Display the counter */
}

/**
 * Demo controls 
 */
.controls {
  text-align: center;
  font-size: 12px;
}

.trigger {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 3px;
  padding: 6px 8px;
  border: none;
  font: 14px inherit;
  text-shadow: 0px 1px 1px rgba(251, 251, 251, 0.75);
  color: #626262;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk1OTU5NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bbbbbb), color-stop(100%, #959595));
  background-image: -moz-linear-gradient(#bbbbbb, #959595);
  background-image: -webkit-linear-gradient(#bbbbbb, #959595);
  background-image: linear-gradient(#bbbbbb, #959595);
}


#img-vr {
    width:100%;
    background-attachment: fixed;
    mask-image: url(../img/brush.svg);
    -webkit-mask-image: url(../img/brush.svg);
    mask-repeat: no-repeat;
    mask-mode: alpha;
    mask-size: 80%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-mode: alpha;
    -webkit-mask-size: 100%;
}

.parallax {
    /* The image used */
    background-image: url('../img/vr-headsets.png');
    /* Set a specific height */
    height:100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    // background-size: cover;
    background-attachment: fixed;
    // mask-image: url(../img/brush.svg);
    // -webkit-mask-image: url(../img/brush.svg);
    mask-repeat: no-repeat;
    mask-mode: alpha;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-mode: alpha;
    -webkit-mask-size: 100%;
    overflow:hidden;
  }
  .parallax-box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    // mask-image: url(../img/brush.svg);
    // -webkit-mask-image: url(../img/brush.svg);
    background-image:url(../img/vrgame.jpg);
    mask-repeat: no-repeat;
    mask-mode: alpha;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-mode: alpha;
    -webkit-mask-size: 100%;
    height: 100%;
  }
  .parallax-wrapper {
      height:83vh;
  }
svg {
    max-width:100% !important;
}

@media only screen and (max-width: 1024px) {
    #nav-sidebar{
        display:none;
    }
    h1 {
        font-size:35px !important;
    }
    p {
        font-size:21px;
    }
    button {
        font-size:22px !important;
    }
    .buttons-box {
        width:50%;
        margin-top:20px;
    }
    .number {
        font-size:20px;
    }
}
@media only screen and (max-width: 600px) {
    canvas {
        width: 375px;
    }
    #myChartEnd {
        width:1200px;
        height:60%;
    }
}
@media only screen and (max-width: 768px) {
    .parallax {
        background-size:contain;
    }
}
.change-game {
    bottom:0%;
    left:44%;
    background-color:transparent;
    border:2px solid $main-color;
    padding:10px 30px;
    color:$main-color;
    font-weight:600;
    transition:0.3s ease-in;
    box-shadow: 6px -6px $main-color,
    5px -5px $main-color,
    4px -4px $main-color,
    3px -3px $main-color,
    2px -2px $main-color,
    1px -1px $main-color;
    border: 1px solid $main-color;
    position:absolute;
}
.change-game:hover {
    background-color:$main-color;
    color:black;
}

.btn-tell {
    background-color:transparent;
    border:2px solid $main-color;
    color:$main-color;
    padding:10px 20px;
}
.bg-info {
    padding:10px;
}
.bg-tell-us-more {
    height:40vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
#map { 
    height: 500px;
    background-color:$main-color;
    background: linear-gradient(180deg, rgba(19, 165, 255, 0.821) 0%, rgba(19, 165, 255, 1) 50.00%, rgba(19, 165, 255, 0.8) 100.00%);

} 

body {
    padding: 0;
    margin: 0;
}
