/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */
/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700");
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Titillium Web'; }

.buttons-box {
  margin: 0 auto;
  width: 50%;
  text-align: center; }
  .buttons-box button {
    background-color: transparent;
    border: 2px solid rgba(19, 165, 255, 0.721);
    padding: 10px 30px;
    color: rgba(19, 165, 255, 0.721);
    font-weight: 600;
    margin-top: 10px;
    margin: 5px;
    transition: 0.3s ease-in;
    box-shadow: 3px -3px rgba(19, 165, 255, 0.721), 2px -2px rgba(19, 165, 255, 0.721), 1px -1px rgba(19, 165, 255, 0.721);
    border: 1px solid rgba(19, 165, 255, 0.721); }
  .buttons-box button:hover {
    background-color: rgba(19, 165, 255, 0.721);
    color: black; }

body {
  font-family: 'Titillium Web';
  background-color: black !important;
  overflow-x: hidden; }

a:-webkit-any-link {
  text-decoration: none; }

#nav-side {
  list-style-type: none;
  right: -130px;
  display: flex;
  flex-direction: row;
  transform: rotate(270deg);
  justify-content: flex-end;
  top: 50%;
  position: fixed; }
  #nav-side a {
    padding: 0px;
    padding-right: 20px;
    text-decoration: none; }
  #nav-side li {
    padding-right: 10px;
    padding: 0px; }

.wrapper {
  color: white;
  z-index: 999999999999999;
  position: absolute; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
  Author's custom styles
  ========================================================================== */
/* ==========================================================================
  Helper classes
  ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.first-div-info, .first-div-info2 {
  height: 100vh;
  width: 100%;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%234799f9' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

.people-using-vr-rooms {
  height: 100vh;
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%234799f9' fill-opacity='0.05' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

.overlay-div {
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 55%, rgba(0, 0, 0, 0.7) 80%, black 100%); }

.overlay-div-people-vr {
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 55%, rgba(0, 0, 0, 0.7) 80%, black 100%); }

.overlay-div2 {
  height: 100%;
  background-color: black; }

.div-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

#img-logo {
  width: 150px;
  margin-bottom: 20px; }

#vr-left {
  height: 400px; }

#vr-right {
  height: 400px; }

.left {
  display: flex;
  justify-content: center;
  align-content: center; }

.right {
  display: flex;
  justify-content: center;
  align-content: center; }

.glasses-2 {
  -webkit-mask-box-image: url(../img/glasses.svg);
  fill: white;
  background-color: blue; }

.first-div-box {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0); }
  .first-div-box img {
    width: 200px; }

.first-div-box2 {
  height: 100%;
  background-color: rgba(0, 0, 0, 0); }
  .first-div-box2 img {
    width: 200px; }

.vr-stat-number {
  font-weight: 900;
  font-size: 40px; }

.vr-send {
  background-color: transparent;
  border: 2px solid rgba(19, 165, 255, 0.721);
  padding: 10px 30px;
  color: rgba(19, 165, 255, 0.721);
  font-weight: 600;
  margin-top: 10px;
  transition: 0.3s ease-in;
  box-shadow: 3px -3px rgba(19, 165, 255, 0.721), 2px -2px rgba(19, 165, 255, 0.721), 1px -1px rgba(19, 165, 255, 0.721);
  border: 1px solid rgba(19, 165, 255, 0.721); }

canvas canvas {
  box-shadow: 3px -3px rgba(19, 165, 255, 0.721), 2px -2px rgba(19, 165, 255, 0.721), 1px -1px rgba(19, 165, 255, 0.721);
  border: 1px solid rgba(19, 165, 255, 0.721); }

.vr-send:hover {
  color: black;
  background-color: rgba(19, 165, 255, 0.721); }

.stat-box {
  margin-top: 50px;
  position: absolute;
  width: 100%;
  margin: 0 auto; }

.stat-box2 {
  margin-top: 50px;
  width: 100%;
  margin: 0 auto; }

#num-count {
  text-align: center;
  font-size: 80px;
  color: rgba(19, 165, 255, 0.721); }

path {
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.coolShadow {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(46, 46, 46, 0.721);
  text-shadow: 1px -1px 0 rgba(46, 46, 46, 0.721), 2px -2px 0 rgba(46, 46, 46, 0.721), 3px -3px 0 rgba(46, 46, 46, 0.721), 4px -4px 0 rgba(46, 46, 46, 0.721); }

.st0-1 {
  fill: white; }

#svg-headset {
  position: absolute;
  right: 0;
  top: 17%;
  height: 100vh;
  margin: auto;
  display: block; }
  #svg-headset path {
    fill: none;
    stroke: rgba(19, 165, 255, 0.721);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
    #svg-headset path.st1 {
      stroke-width: 2; }

#text-100000 {
  width: 400px;
  display: block;
  margin: 0 auto;
  display: block; }
  #text-100000 path {
    fill: none;
    stroke: rgba(19, 165, 255, 0.721);
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
    #text-100000 path.st1 {
      stroke-width: 2; }

.nav-top {
  background-color: transparent;
  color: white;
  z-index: 9999; }

#svg-new-zealand {
  position: absolute;
  height: 76vh;
  display: block;
  z-index: -1;
  right: 10%; }
  #svg-new-zealand path {
    fill: none;
    stroke: rgba(19, 165, 255, 0.721);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
    #svg-new-zealand path.st1 {
      stroke-width: 1; }

#stLiberty {
  position: absolute;
  height: 50vh;
  display: block;
  left: 10%;
  margin-bottom: 20px;
  z-index: -1; }
  #stLiberty path {
    fill: none;
    stroke: rgba(19, 165, 255, 0.721);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
    #stLiberty path.st1 {
      stroke-width: 1; }

#whiteHouse {
  position: absolute;
  height: 30vh;
  display: block;
  right: 8%;
  margin-bottom: 20px;
  z-index: -1; }
  #whiteHouse path {
    fill: none;
    stroke: rgba(19, 165, 255, 0.721);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
    #whiteHouse path.st1 {
      stroke-width: 1; }

#svg-australia {
  position: absolute;
  height: 500px;
  display: block;
  z-index: -1; }
  #svg-australia path {
    fill: none;
    stroke: rgba(19, 165, 255, 0.721);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
    #svg-australia path.st1 {
      stroke-width: 2; }

#svg-europe {
  position: absolute;
  height: 500px;
  display: block;
  z-index: -1; }
  #svg-europe path {
    fill: none;
    stroke: rgba(19, 165, 255, 0.721);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
    #svg-europe path.st1 {
      stroke-width: 2; }

#svg-europe-flag {
  position: absolute;
  height: 50vh;
  display: block;
  right: 10%;
  z-index: -1; }
  #svg-europe-flag path {
    fill: none;
    stroke: rgba(19, 165, 255, 0.721);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
    #svg-europe-flag path.st1 {
      stroke-width: 1; }

button:active {
  outline: none;
  border: none; }

button:focus {
  outline: 0 !important; }

/*# sourceMappingURL=main.css.map */
